@font-face {
    font-family: 'pp_editorial_newultralight';
    src: url('font/ppeditorialnew-ultralight-webfont.woff2') format('woff2'),
         url('font/ppeditorialnew-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pp_editorial_newultraLtIt';
    src: url('font/ppeditorialnew-ultralightitalic-webfont.woff2') format('woff2'),
         url('font/ppeditorialnew-ultralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pp_editorial_newregular';
    src: url('font/ppeditorialnew-regular-webfont.woff2') format('woff2'),
         url('font/ppeditorialnew-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pp_editorial_newitalic';
    src: url('font/ppeditorialnew-italic-webfont.woff2') format('woff2'),
         url('font/ppeditorialnew-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pp_neue_worldthin';
    src: url('font/ppneueworld-thin-webfont.woff2') format('woff2'),
         url('font/ppneueworld-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-primary: #321474;
    --color-neutral: #fff;
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'pp_editorial_newitalic';
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-primary);
}
html, body {
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; /* Suporte para rolagem suave no iOS */
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    -webkit-hyphens: auto; /* Hifenização automática */
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100dvh;
    min-height: -webkit-fill-available; /* Suporte para iOS */
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1 {
    font-family: 'pp_editorial_newultralight';
    font-size: 7rem;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 90%;
}
.i {
    font-family: 'pp_editorial_newultraLtIt';
    font-size: 7rem;
    letter-spacing: 0.02em;
    line-height: 90%;
}
.e {
    font-family: 'pp_neue_worldthin';
    font-size: 5rem;
    letter-spacing: 0.02em;
    line-height: 90%;
}
.title p {
    font-family: 'pp_editorial_newultralight';
    font-size: 1rem;
    letter-spacing: 0.02em;
    text-align: center;
}
.highlight {
    margin: 5rem 0;
}
.highlight .sign {
    font-family: 'pp_editorial_newultraLtIt';
}
.highlight p {
    font-family: 'pp_editorial_newultralight';
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
}
.highlight p, .topic p, .topic h1 {
    color: var(--color-neutral);
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}
footer div p:nth-child(2) {
    font-family: 'pp_editorial_newultralight';
    font-size: 0.8rem;
}
footer div:nth-child(2) {
    direction: rtl;
}
.topic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}
.topic h1, .topic p {
    width: 100vw;
    line-height: 150%;
    letter-spacing: 0.03em;
}
.topic h1 {
    font-family: 'pp_editorial_newultraLtIt';
    font-size: 1rem;
}
.topic p {
    font-family: 'pp_editorial_newultralight';
    font-size: 1rem;
}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 1rem;
}
.button a {
    border: 1px solid var(--color-neutral);
    color: var(--color-neutral);
    align-self: normal;
    text-align: center;
    align-content: center;
    border-radius: 0.7rem;
    height: 3.5rem;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}
.button a:nth-child(1) {
    background-color: var(--color-neutral);
    color: var(--color-primary);
}
.button a:nth-child(1):hover {
    background-color: #7841F1;
    border-color: #7841F1;
    color: var(--color-neutral);
    font-family: 'pp_editorial_newregular';
}
.button a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'pp_editorial_newregular';
}
.top, .title, footer, .highlight, .topic, .button {
    padding: 1.5rem;
}
.slide-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap; /* importante */
    gap: 1rem;
}
.hero, .info{
    position: relative;
}
.gallery{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 16px; /* Espaço entre as imagens */
    padding: 16px;
    height: 100dvh;
    width: 100dvw;
    z-index: 0;
}
.gallery .image{
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.img-1{
    background-image: url('https://s2-g1.glbimg.com/k-DCW8EfgmdDPuy2jEBPDZc99LU=/0x0:6240x4160/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/o/2/XprYAISAK6ESIqx1DiJw/duonguyen-crsf94jldpe-unsplash.jpg');
    opacity: 0.2;
}

